* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
	font-family: sans-serif;
	color: white;
}
.location,
.temperature {
	height: 30vh;
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.temperature {
	flex-direction: column;
	align-items: center;
}
.degree-section {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.degree-section span {
	margin: 0px;
	font-size: 30px;
}
.degree-section h2 {
	font-size: 40px;
}
.board {
	border: 2px solid #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
}
.board-day {
	width: 340px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-right: 2px solid #fff;
}
.board-week {
	width: 800px;
	display: flex;
	flex-direction: column;
	height: 375px;
}
.days {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 30px;
}
.location-timezone {
	padding-right: 20px;
}
.board-title {
	text-align: center;
	padding-top: 50px;
}
.day-week {
	font-size: 14px;
}
.text-temp {
	font-size: 14px;
	text-align: center;
	font-weight: 200;
}
.days-style {
	border: 1px solid #fff;
	border-radius: 5px;
	width: 100px;
	text-align: center;
	padding: 15px 0 15px 0;
}
